@import "compass/css3";
$blue: #369dd8;

.no-projects {
    a {
        display: block;
        width: 600px;
        margin: 60px auto;

        text-align: center;
        text-decoration: none;
        font-family: 'RalewayThin';
        color: #999;

        .warning {
            font-size: 52px;

            strong {
                margin-right: -2px;
                font-family: 'CartoGothicStdBold';
            }
        }

        .add-project-link {
            padding-top: 60px;
            font-family: 'CartoGothicStdBold';
            font-size: 92px;
            color: $blue;
        }

        .no-time {
            margin-top: 44px;
            font-size: 48px;

            strong {
                margin-right: -2px;
                font-family: 'CartoGothicStdBold';
            }
        }
    }
}
