{% extends "../templates/base.html" %}

{% block body %}
    <div class="container_16">
        <div class="grid_16 add-project">
            <form method="POST">
                <label for="project-name">project name</label>
                <input type="text" name="project_name" id="project-name" class="fancy-input" placeholder="name of your project" />

                <label for="git-repo">git repository</label>
                <input type="text" name="git_repo" id="git-repo" class="fancy-input" placeholder="public url for the git repository of your project" />

                <div class="submit">
                    <input type="submit" name="add-project" class="fancy-submit" value="add project" />
                </div>
            </form>
        </div>
    </div>
{% end %}
