<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>skink.ci - {% block title %}Home{% end %}</title>

    <link rel="stylesheet" href="{{ static_url("output/skink.min.css") }}" type="text/css" />
    {% block style %}{% end %}
</head>

<body>
    <header>
        <div class="container_16">
            <div class="grid_4">
                <h1><a href="/"><strong>skink</strong>.ci</a></h1>
            </div>

            <div class="grid_12">
                <div class="toolbar">
                    <nav>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="/projects/new">add project</a></li>
                            <li><a href="/projects">projects</a></li>
                        </ul>
                    </nav>
                    <div class="user-data">
                    {% if current_user %}
                        <div class="authenticated">
                            <a href="#">
                                <div class="gravatar"><img src="{{ gravatar_url }}" /></div>
                                <div class="user">{{ current_user['name'] }}</div>
                                <div class="arrow"></div>
                                <div class="menu"><a href="/auth/logoff">log-out from skink</a></div>
                            </a>
                        </div>
                    {% else %}
                        <a class="unauthenticated" href="/auth/github">please log-in</a>
                    {% end %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="clearfix">
    {% block body %}{% end %}
    </div>

    <footer>
        <div class="container_16">
            <div class="grid_16">
                <a class="logo" href="http://github.com/heynemann/skink.vnext"><strong>skink</strong>.ci</a>
                <div class="toolbar">
                    <div class="copy">
                        <a href="http://github.com/heynemann/skink.vnext">skink.ci</a> is an <a href="http://en.wikipedia.org/wiki/MIT_License">MIT Licensed</a> open-source project - <a href="https://github.com/heynemann/skink.vnext/fork_select">fork it</a> at github
                    </div>
                    <ul>
                        <li><a href="http://github.com/heynemann/skink.vnext">project home page</a></li>
                        <li><a href="http://github.com/heynemann/skink.vnext/issues">create an issue</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{ static_url("output/skink.min.js") }}"></script>
    {% block scripts %}{% end %}
</body>
</html>
