<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>skink.ci - {% block title %}Home{% end %}</title>

    <link rel="stylesheet" href="{{ static_url("css/reset.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/grid.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css" />
    {% block style %}{% end %}
</head>

<body>
    {% block body %}{% end %}
    {% block scripts %}{% end %}
</body>
</html>
